<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <header>
        <div><a th:href="@{/}" class="title">앱 이름</a></div>
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span> 님 |
            <a href="/logout" class="logout-link">Logout</a>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a href="/login" class="login-link">Login</a>
        </div>
    </header>
</div>
</body>
</html>
