<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>앱 이름</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <div class="left-panel">
        <button>
            <span class="step">Step 1</span>
            로그인 후 화면에<br> 얼굴을 인식</br>
        </button>
        <button>
            <span class="step">Step 2</span>
            이모지 선택
        </button>
        <button>
            <span class="step">Step 3</span>
            촬영
        </button>
        <button>Gallery</button>
    </div>

    <div class="center-panel">
        <div class="camera"></div>
        <button class="capture-btn">★</button>
    </div>

    <div class="right-panel">
        <button style="margin-top: 0;">emoji</button>
        <div class="spacer"></div>
        <button>delete</button>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>