<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>앱 이름</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/fragments.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <!-- Left Panel -->
    <div class="left-panel">
        <button class="step-box">
            <span class="step">Step 1</span>
            로그인 후 화면에<br>얼굴을 인식
        </button>
        <button class="step-box">
            <span class="step">Step 2</span>
            이모지 선택
        </button>
        <button class="step-box">
            <span class="step">Step 3</span>
            촬영
        </button>
        <button class="gallery-btn" onclick="location.href='/gallery'">Gallery</button>
    </div>

    <div class="center-panel">
        <div class="camera">
            <video id="video" autoplay playsinline></video>
            <canvas id="canvas"></canvas>
        </div>
        <button class="capture-btn" onclick="sendToSpringServer()">★</button>
    </div>

    <!-- 로그인 모달 -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <p>로그인 후 사용 가능합니다.</p>
            <button><a href="/login" style="color: white">로그인 하러 가기</a></button>
            <button onclick="closeModal()">닫기</button>
        </div>
    </div>


    <div class="right-panel">
        <button class="emoji-title">emoji</button>
        <div class="emoji-panel">
            <button onclick="selectedFilterFunc('emojiCatFace')"><img src="https://raw.githubusercontent.com/kjaewon4/deepLearningProject/b3ec93b0b62eca83ad4d166ee708583871376199/Filter/catStyleFilter.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emojiDogNose')"><img src="https://raw.githubusercontent.com/kjaewon4/deepLearningProject/b3ec93b0b62eca83ad4d166ee708583871376199/Filter/dogNose.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emojiCrown')"><img src="https://raw.githubusercontent.com/kjaewon4/deepLearningProject/refs/heads/main/Filter/crown.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji2')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/2.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji5')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/5.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji6')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/6.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji7')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/7.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji8')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/8.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emojiPigNose')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/9.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji10')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/10.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji11')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/11.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji12')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/12.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji15')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/15.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji16')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/16.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji17')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/17.png" style="width: 30px; height: 30px;"></button>
            <button onclick="selectedFilterFunc('emoji18')"><img src="https://raw.githubusercontent.com/che1206/deeplearning/2b275373bb7dbcf1ea9be9a8f7e8771011f9a857/deep/emo/18.png" style="width: 30px; height: 30px;"></button>
        </div>
        <button class="delete-btn">delete</button>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/filterMap.js"></script>
<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>

</body>
</html>