* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
    margin: 0 120px;
  border-bottom: 1px solid #ddd;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.05);*/
}

.header-container {
    display: flex;
    align-items: center;    /* 로고와 텍스트를 수직 중앙 정렬 */
    gap: 8px;                /* 로고와 타이틀 사이 간격 */
}

.header-container .logo {
    width: 70px;
    height: auto;

}

.title {
    font-weight: bold;
    font-size: 20px;
    /*color: #4b18e3;*/
    font-style: italic;
}

.login-link, .logout-link {
  color: #1a73e8;
  font-weight: 500;
  text-decoration: none;
}

.login-link:hover {
    color: #555;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.login-link:hover {
    color: #555;
}


footer {
  border-top: 1px solid #ddd;
  padding: 16px 32px;
  font-size: 14px;
  color: #6b7280;
  display: flex;
  justify-content: space-between;
}

footer .right {
    text-align: right;
}
