* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body, html {
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.login-link, .logout-link {
  color: #7c3aed;
  font-weight: 500;
  text-decoration: none;
}

.login-link:hover {
  color: #555;
}

.username {
    font-weight: bold;
    margin-right: 10px;
}

.login-link:hover {
    color: #555;
}


footer {
  border-top: 1px solid #ddd;
  padding: 16px 32px;
  font-size: 14px;
  color: #6b7280;
  display: flex;
  justify-content: space-between;
}

footer .right {
    text-align: right;
}
